<h1 align='center' style='color:darkred'>Linear Regression Using Basic Python</h1>

**1. x = [2, 3, 4, 5.6], y = [12.8978, 17.7586, 23.3192, 28.3129, 32.1351]
<br>&emsp;Apply Linear regressison using basic python**

In [47]:
import pandas as pd
from scipy.stats import t

In [2]:
data=pd.DataFrame({'x':[2,3,4,5,6],'y':[12.8978,17.7586,23.3192,28.3129,32.1351]})

data

   x        y
0  2  12.8978
1  3  17.7586
2  4  23.3192
3  5  28.3129
4  6  32.1351

Here **x** is the independent varaiable and **y** is the dependent varaible
<h2 style="color:blue"> Finding Straight line for x and y</h2>

Formula for finding straight line is `y=mx+c`
<br>where ${m} = \frac{{n}\sum{xy} - \sum{x}\sum{y}}{n\sum{x^2}-(\sum{x})^2}$
<br>&emsp;&emsp;&nbsp;&nbsp;&nbsp; $c = \bar {y} - {m \bar{x}}$

In [3]:
data['x**2']=data['x']**2
data['x*y']=data['x']*data['y']
data

   x        y  x**2       x*y
0  2  12.8978     4   25.7956
1  3  17.7586     9   53.2758
2  4  23.3192    16   93.2768
3  5  28.3129    25  141.5645
4  6  32.1351    36  192.8106

In [7]:
#### Length of the dataset
n=data.shape[0]
#### Calculating 'm' value
m=round(((n*data['x*y'].sum())-(data['x'].sum()*data['y'].sum()))/((n*data['x**2'].sum())-(data['x'].sum())**2), 3)
#### Calculating 'c' value
c = round(data['y'].mean()-(m*data['x'].mean()), 3)
#### Printing straight line for x and y
print(f'The straight line equation for y(dependent variable) and x(independent variable) is y={m}x+{c}')

The straight line equation for y(dependent variable) and x(independent variable) is y=4.903x+3.273

<h2 style="color:blue"> Calculating R-Squared and Adj.R-Squared</h2>

Formula for 
<br>&emsp;&emsp; **R-squared ${R^2} = {1}-{\frac{\sum(\hat y - y)^2}{\sum(y - \bar y)^2}}$ 
<br>&emsp;&emsp; Adj.R-squared ${Adj.R^2} = {1}-{\frac{(1-R^2)(n-1)}{n-p-1}}$**
<br>Where ${\hat y}$ is **Predicted Values** of y
<br>&emsp;&emsp;&nbsp;&nbsp;&nbsp; ${y}$ is **Actual Values** of y
<br>&emsp;&emsp;&nbsp;&nbsp;&nbsp; ${n}$ is No.of **rows** in the dataset
<br>&emsp;&emsp;&nbsp;&nbsp;&nbsp; ${p}$ is No.of **independent variables** in the dataset

In [9]:
data['ycap']=3.273+(4.903*data['x'])
data['(ycap-y)**2']=(data['ycap']-data['y'])**2
data['(y-ybar)**2'] = (data['y']-data['y'].mean())**2
data

   x        y  x**2       x*y      Py    ycap  (ycap-y)**2  (y-ybar)**2
0  2  12.8978     4   25.7956  13.079  13.079     0.032833    99.738571
1  3  17.7586     9   53.2758  17.982  17.982     0.049908    26.277106
2  4  23.3192    16   93.2768  22.885  22.885     0.188530     0.188773
3  5  28.3129    25  141.5645  27.788  27.788     0.275520    29.465138
4  6  32.1351    36  192.8106  32.691  32.691     0.309025    85.569530

In [20]:
#### Calculating R-squared
R_squared = 1-(data['(ycap-y)**2'].sum()/data['(y-ybar)**2'].sum())
#### Calculating Adjusted R-squared
n = data.shape[0]
Adj_R_squared =1-(((1-R_squared)*(n-1))/(n-2))
#### Printing R-squared and Adjusted R-squared
print(f'R-squared     : {round(R_squared,3)*100}')
print(f'Adj.R-squared : {round(Adj_R_squared,3)*100}')

R-squared     : 99.6
Adj.R-squared : 99.5

<h2 style="color:blue">Calculating MAE, MSE, RMSE</h2>

Formulas for 
<br>&emsp;&emsp; **Mean Absolute Error ${MAE} = \frac{\sum|\hat y-y|}{n}$
<br>&emsp;&emsp; Mean Square Error ${MSE} = \frac{\sum (\hat y - y)^2}{n}$
<br>&emsp;&emsp; Root Mean Square Error ${RMSE} = \sqrt{\frac{\sum (\hat y - y)^2}{n}}$**

In [22]:
data['|ycap-y|']=abs(data['ycap']-data['y'])
data

,x,y,x**2,x*y,Py,ycap,(ycap-y)**2,(y-ybar)**2,|ycap-y|
0,2,12.8978,4,25.7956,13.079,13.079,0.032833,99.738571,0.1812
1,3,17.7586,9,53.2758,17.982,17.982,0.049908,26.277106,0.2234
2,4,23.3192,16,93.2768,22.885,22.885,0.188530,0.188773,0.4342
3,5,28.3129,25,141.5645,27.788,27.788,0.275520,29.465138,0.5249
4,6,32.1351,36,192.8106,32.691,32.691,0.309025,85.569530,0.5559

In [26]:
#### Calculating Mean Absolute Error 
MAE = data['|ycap-y|'].sum()/n
#### Calculating Mean Square Error
MSE = data['(ycap-y)**2'].sum()/n
#### Calculating Root Mean Square Error
RMSE = MSE**0.5
#### Print MAE, MSE, RMSE
print(f'MAE  : {round(MAE, 4)}')
print(f'MSE  : {round(MSE, 4)}')
print(f'RMSE : {round(RMSE, 4)}')

MAE  : 0.3839
MSE  : 0.1712
RMSE : 0.4137

<h2 style="color:blue">Calculating Standard Errors</h2>

Standard Error(SE)for
<br>&emsp;&emsp; **Estimator ${SE_e} = \frac{\sum(\hat y-y)^2}{n-p-1}$
<br>&emsp;&emsp; Intercept ${SE_i} = \sqrt{SE_e[\frac{1}{n}+\frac{\bar x^2}{\sum(x-\bar x)^2}]}$
<br>&emsp;&emsp; independent variable x ${SE_x} = \sqrt{\frac{SE_e}{\sum(x-\bar x)^2}}$**

In [27]:
data['(x-xbar)**2'] = (data['x']-data['x'].mean())**2
data

,x,y,x**2,x*y,Py,ycap,(ycap-y)**2,(y-ybar)**2,|ycap-y|,(x-xbar)**2
0,2,12.8978,4,25.7956,13.079,13.079,0.032833,99.738571,0.1812,4.0
1,3,17.7586,9,53.2758,17.982,17.982,0.049908,26.277106,0.2234,1.0
2,4,23.3192,16,93.2768,22.885,22.885,0.188530,0.188773,0.4342,0.0
3,5,28.3129,25,141.5645,27.788,27.788,0.275520,29.465138,0.5249,1.0
4,6,32.1351,36,192.8106,32.691,32.691,0.309025,85.569530,0.5559,4.0

In [46]:
#### Calculating standard error for Estimator
SE_e = data['(ycap-y)**2'].sum()/(n-2)
#### Calculating standard error for intercept
SE_i = (SE_e*((1/n)+(data['x'].mean()**2/data['(x-xbar)**2'].sum())))**0.5
#### Calculating standard error for x
SE_x = (SE_e/data['(x-xbar)**2'].sum())**0.5
#### Printing standard error for Estimator, intercept & x
print(f'standard error for Estimator : {round(SE_e, 3)}')
print(f'standard error for intercept : {round(SE_i, 3)}')
print(f'standard error for x         : {round(SE_x, 3)}')

standard error for Estimator : 0.285
standard error for intercept : 0.717
standard error for x         : 0.169

<h2 style="color:blue">T-test</h2>

T values for
<br>&emsp;&emsp; **critical ${t_{crit}} = {t_{\frac{\alpha}{2},df}}$
<br>&emsp;&emsp; intercept ${t_i} = \frac{c}{SE_i}$
<br>&emsp;&emsp; independent variable x ${t_x} = \frac{m}{SE_x}$**

In [49]:
#### Calculating t critical
t_crit = t.ppf(0.975, n-2)
#### Calculating t value for intercept
t_i = c/SE_i
#### Calculating t value for x
t_x = m/SE_x
#### Printing t values for critical, intercept & x
print(f't critical            : {round(t_crit, 3)}')
print(f't value for intercept : {round(t_i, 3)}')
print(f't value for x         : {round(t_x, 3)}')

t critical            : 3.182
t value for intercept : 4.568
t value for x         : 29.029

<h2 style="color:blue">Calculating P-Value</h2>

In [50]:
#### Calculating p value for intercept
p_i = t.sf(t_i, n-2)*2
#### Calculating p value for x
p_x = t.sf(t_x, n-2)*2
#### Printing t values for intercept & x
print(f'p value for intercept : {round(p_i, 3)}')
print(f'p value for x         : {round(p_x, 3)}')

p value for intercept : 0.02
p value for x         : 0.0

<h2 style="color:blue">Calculating Confidence Interval</h2>

In [60]:
#### Calculating confidence interval for intercept
CI_i_Lower = round(c - (t_crit*SE_i), 3)
CI_i_Upper = round(c + (t_crit*SE_i), 3)
#### Calculating confidence interval for x
CI_x_Lower = round(m - (t_crit*SE_x), 3)
CI_x_Upper = round(m + (t_crit*SE_x), 3)
#### Printing confidence interval for intercept & x
print(f'confidence interval for intercept : [{CI_i_Lower}, {CI_i_Upper}]')
print(f'confidence interval for x         : [{CI_x_Lower}, {CI_x_Upper}]')

confidence interval for intercept : [0.993, 5.553]
confidence interval for x         : [4.365, 5.441]

<h1 align='center'>Thank You!🙂</h1>